/* Your styles should be mobile-first and responsive */


/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
}

p {
    font-size: 20px;
}


body {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    background: cover;
    background-image: url("screenshots/leaf.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: white;
}

header {
    border: 2px solid white;
    border-radius: 8px;
    background: rgba(11, 21, 6, 0.8);
    padding: 10px 0 10px 0;
    color: white;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.question-and-score {
    border: 2px solid white;
    border-radius: 8px;
    background: rgba(11, 21, 6, 0.8);
    font-size: 25px;
    font-weight: 600px;
    color: white;
    text-align: center;
    list-style: none;
    padding: 10px 0 10px 0;
}

button{
    background: rgba(11, 21, 6, 0.8);
    margin-top: 10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 8px;
    padding: 10px 20px;
}

.start-screen,
fieldset {
    border: 2px solid white;
    width: 80%;
    padding: 40px;
    margin: 55px auto 0 auto;
    background: rgba(11, 21, 6, 0.8);
    border-radius: 10px;
}

legend {
    font-weight: 700;
    font-size: 18px;
}

.question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    /* font-weight: 400px; */
}

.options ul {
    list-style: none;
    margin: 0;
    text-align: left;
}

label {
    font-size: 18px;
}

.options span {
    display: block;
    border-radius: 5px;
}

.right-answer {
    background: rgb(11, 21, 6, .5);
    padding: 10px 20px;
    margin: 5px 20px;
    border: 2px solid rgb(97, 164, 23);
}

.wrong-answer {
    background: rgb(11, 21, 6, .5);
    padding: 10px;
    margin: 5px 20px;
    border: 2px solid #fe0000;
    border-radius: 8px;
}

.question-form button {
    background: rgb(11, 21, 6, .5);
    border: 2px solid white;
    float: right;
    border-radius: 6px;
}

button:hover:enabled,
button:focus:enabled {
    background-color: rgb(11, 21, 6, .5);
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

button:disabled {
    opacity: 0.9;
}

#next-question-btn {
    display: none;
}